body{
  font-family: Helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.title-headers{
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

.main-banner{
  background-image: url("../images/the-flatiron-building.png");
}

h2{
  font-size: 32px;
  font-weight: bold;
}

.processes{
  font-size: 23px;
  font-weight: bold;
}

.process-explain{
  font-size: 14px;
}

h3{
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

a{
  color: white;
}
